.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato',Helvetica Neue,Arial,Helvetica,sans-serif;
}


.title {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    display: flex;
    margin-bottom: 0;
}

.inspi {
    font-size: small;
    font-weight: 400;
    color: #676767;
    display: flex;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    display: flex;
    margin: 0.5em 0 0 0;
}

.movie {
    display: flex;
    flex-direction: column;
    margin:10px;
}

.shape {
    width: 300px;
    height: 50px;
}

.movieName {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 2px 0;
    color: rgba(0, 0, 0, 0.7);
}



.grid {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}